<html><body>Dear ${user.firstName},<br/>Your password reset request is in progress.<br/>
To complete this operation, please, <a href="${scheme}://${domain}${port}/kineticsweb/#set-password/${emailB64}/${codeB64}">visit this link</a><br/>
NOTE: if you didn't send us request to reset your password, just ignore this mail.
</body></html>