<html><body>
Dear ${user.firstName}, your account was created at Kinetics POC project!<br/>
To complete account registration please <a href="${scheme}://${domain}${port}/kineticsweb/#set-password/${emailB64}/${codeB64}">visit this link</a>
</body></html>